<div id="background-wrapper">
    <div id="background"></div>
</div>

<div id="wrapper">
    <div id="display-time">
        {{time | date: 'h:mm:ss' }}
    </div>
    
    @if (display | async; as display) { @if (display.anki) {
        <div id="task-wrapper">
            <div id="task-display" *ngIf="card">
                <div class="task">
                    <div class="description">Aufgabe</div>
                    <mat-divider></mat-divider>
                    <div class="content" [innerHTML]="card.front" ></div>    
                    <!-- This is safe, trust -->
                </div>
                <div class="actions">
                    <div class="skip" (click)="skipTask(card.id)">skip</div>
                </div>
            </div>    
        </div>
    
        <div id="task-field">
            <mat-form-field subscriptSizing="dynamic">
                <mat-label> Deine Lösung </mat-label>
                <textarea maxlength="260" cdkTextareaAutosize matInput type="text" [(ngModel)]="value"></textarea>          
                @if (value) {
                  <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
                    <mat-icon>close</mat-icon>
                  </button>
                }
              </mat-form-field>
              <button mat-stroked-button type="submit" class="submit" [disabled]="makingRequest || !value" (click)="determineSuccess()">Prüfen</button>
        </div>
    }}

    

    @if (display | async; as display) { @if (display.nfc) {
        @if (display.anki) {
            <div class="text-divider">
                <div class="line"><mat-divider></mat-divider></div>
                <div class="text mat-typography">oder</div>
                <div class="line"><mat-divider></mat-divider></div>
            </div>
        }

        <div class="big-button">
            @if (nfc.supportsNfc()) {
                <button mat-raised-button (click)="scanNFC()"> scanner starten <mat-icon>nfc</mat-icon> </button>
            } @else {
                <button mat-raised-button disabled> NFC nicht verfügbar <mat-icon>nfc</mat-icon> </button>
            }
        </div>
    }}

    <!-- this is the fallback, so the user doens't lock themself out -->
    @if (display | async; as display) { @if(
        display.quickOff || 
        (!display.anki && (!display.nfc || !nfc.supportsNfc()))
        ) {
        @if (display.anki || display.nfc) {
            <div class="text-divider">
                <div class="line"><mat-divider></mat-divider></div>
                <div class="text mat-typography">oder</div>
                <div class="line"><mat-divider></mat-divider></div>
            </div>
        }
    
        <div class="big-button">
            <button mat-raised-button (click)="stopRinging()"> Sofort Aus <mat-icon>alarm_off</mat-icon> </button>
        </div>
    }}
</div>