$border-radius: 12px;

#background-wrapper {
    position: absolute;

    height: 100vh;
    width: 100vw;

    overflow: hidden;

    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(193, 105, 105, 0.225) 0%, rgba(255, 255, 255, 0) 92%);
    #background {
        position: absolute;
        top: 50%;
        left: -130%;

        display: flex;
        justify-content: center;
        align-items: center;   
    
        height: 250vh;
        width: 250vw;
    
        background: url("../../assets/GETUP2.svg");
        background-size: 35% auto; // Adjusts the Text size. To adjust the spacing, adjust the SVG.
        background-repeat: repeat;
        
        // background-position: 85.8% 0;
        // This file is full of magic number.
        // this one of them. Every mutliple of 85.8% is one rotation of the bg.
        // but we can just use a very high animation length.
        
        animation: bg-scroll 500s linear infinite; 
        // This, aswell as the background-position animation value must be some very high value. 
        
        transform-origin: top left;
        transform: rotate(-45deg); // Looks best I feel.
    
        // filter: grayscale(0.97) brightness(2.25); // These kind of work against each other. Very hard to make look good.
        // Also filter is super inefficient. Consider changing this in the SVG.
    }
}



#wrapper {
    position: relative; // To have the bg-wrapper in the bg

    display: flex;
    flex-direction: column;
    justify-content: start;

    min-height: 100vh;

    margin: 10vw;
    margin-top: 0;
    margin-bottom: 0;

    #display-time {
        display: flex;
        justify-content: center;

        margin-top: 40px;
        margin-bottom: 20px;
        padding: 20px;

        background-color: rgb(255, 255, 255);

        border-radius: $border-radius;

        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

        font-size: 38pt;
        font-weight: 600;
        letter-spacing: 2px;


        animation: jump-shaking 1s infinite;
    } 
    
    #task-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 280px;

        padding: 20px;

        background-color: #ffffff;

        border-radius: $border-radius;
        
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

        #task-display {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            height: 100%;
            width: 100%;

            background-color: #ffffff;

            border-radius: inherit;


            .description {
                font-size: 14pt;
                margin-bottom: 10px;
                margin-top: 5px;
                font-weight: 500;
            }
            .content {
                margin-top: 10px;
                font-size: 12pt;
            }
            .actions {
                display: flex;
                justify-content: start;

                font-size: 12pt;
                color: rgb(116, 116, 116);
            }
        }
    }
          
    #task-field {
        width: 100%;

        margin-top: 20px;
        padding: 20px;

        background-color: #ffffff;

        border-radius: $border-radius;

        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);

        mat-form-field {
            display: flex;
            align-items: center;

            width: inherit;
        }
    }

    #text-divider {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        width: 100%;

        margin-top: 20px;
        margin-bottom: 20px;

        .line {
            flex: 1;
        }
          
        .text {
            color: rgb(116, 116, 116);

            padding-left: 10px;
            padding-right: 10px;
        }
    }

    #open-scanner {
        display: flex;
        justify-content: center;

        margin-bottom: 20px;

        button {
            width: 100%;
            padding: 30px;
        }
    }
}

// Animations

@keyframes jump-shaking {
    0% { transform: translateX(0) }
    5% { transform: translateY(-10px) }
    10% { transform: translateY(-10px) rotate(3.5deg) }
    20% { transform: translateY(-10px) rotate(-3.5deg) }
    25% { transform: translateY(-9px) rotate(3deg) }
    33% { transform: translateY(-9px) rotate(-3deg) }
    45% { transform: translateY(0) rotate(0) }
    100% { transform: translateY(0) rotate(0) }
}
@keyframes bg-scroll {
    0% {
      background-position: 0% 0;
    }
    100% {
      background-position: 5000% 0;
    }
}
